[user]
	email = @gmail.com
	name = KShih
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/kshih/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/kshih/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/kshih/.stCommitMsg
[alias]
    c = commit
    st = status
    co = checkout
    br = branch
    pr = log --graph --full-history --all --oneline --decorate=short
    rup = remote update --prune                                               
    difc = diff --cached

